
<div class="box">
<nav class="panel is-success">
  <p class="panel-heading">
    Сорта чая
  </p>
  <div class="panel-block">
    <div class="panel-block">
      <button id="addTea"class="button is-link is-success is-fullwidth">
        Добавить новый чай
      </button>
      <div class="modal">
        <div class="modal-background"></div>
          <div class="modal-content">
            <div class="box">
              <div class="title">Добавить новый чай.</div>
              <form action="/tea/add" enctype="multipart/form-data" method="post">
                <div class="field">
              <div class="control has-icons-left">
                <input class="input" required placeholder="Сорт" name="name" type="text">
                <span class="icon is-small is-left">
                  <i class="fas fa-leaf"></i>
                  </span>
              </div>
            </div>
            <div class="field">
              <div class="control has-icons-left">
                <textarea class="textarea is-fixed" required placeholder="Описание чая" name="description" type="text"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control has-icons-left">
                <input class="input" required placeholder="Происхождение" name="location"  type="text">
                <span class="icon is-small is-left">
                  <i class="fa fa-location-arrow" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="file field has-name is-boxed">
              <label class="control file-label">
                <input class="file-input" type="file" name="picture">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Выберите файл
                  </span>
                </span>
                <span class="file-name">
                </span>
              </label>
            </div>
            <div class="control is-fullwidth">
              <button class="button is-large is-fullwidth is-success">
                <span class="icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span>Добавить</span>
              </button>
            </div>
        </form>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
    </div>
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Search">
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  {{#each posts}}
  <a href="/tea/{{this._id}}" class="panel-block tea is-active">
    <span class="panel-icon">
      <i class="fas fa-leaf" aria-hidden="true"></i>{{this.comment}}
    </span>
    <span>{{this.name}}</span>
    <div class="buttons">
  <button data-id="/tea/{{this._id}}" id="deletePost" class="button is-small is-light is-danger"><span>Удалить</span> <span class="icon is-small">
      <i class="fas fa-times"></i>
    </span></button>
  <button data-id="/tea/{{this._id}}" id="editPost" class="button is-small is-light is-info"><span>Редактировать</span><span class="icon is-small">
      <i class="fas fa-edit"></i>
    </span></button></div>
    
    
  </a>
  {{/each}}
</nav>
</div>